!!!
%html
  %head
    %title Scene Master
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/app.css', media: 'all'}
  %body{class: 'aui-layout aui-theme-default'}
    %div
      %h2 Scenes
      %li Zurich
      %li 定福庄
    
  